html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  
  /* .App {
    font-family: sans-serif;
    text-align: center;
    float: left;
    color: aliceblue;
  }
  

  /* #button{
    display: flex;
    justify-content: flex-end;
  }


  #playlistWidget{
    float :right;
    background-color: aquamarine;
  } */
