html {
    font-family: system-ui, sans-serif;
    font-size: 1.25em;
  }
  
svg {
  display: inline-block;
  vertical-align: middle;
}

body {
  background-color: #191414;
}

html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
  